body {
    color:wheat;
}

h2 {
    color:brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

p {
    color:chocolate;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

.button {
    background-color: #ebb654;
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }